[user]
	email = 56798701+wantyapps@users.noreply.github.com
	name = wantyapps
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
