fontforge/
sodacore\ studios/
wireshark/
glab-cli/
release_it_github_token.txt
gh/
npm/
zsh/.zsh_history
zsh/.zsh_sessions/
thefuck/__pycache__/
zsh/.zcompdump
RepoZ/
vifm/vifminfo.json
configstore/
spotify-tui/
marketstack_token.txt
.zcompcache/
bpytop/error.log
zsh/.zcompdump*
ncmpcpp/error.log
